.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}

h1 {
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="password"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: ##555;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}